/* ============================================= */
/* ==          CSS Variables                  == */
/* ==      Χρώματα, Γραμματοσειρές, κλπ.        == */
/* ============================================= */

:root {
    --primary-color: #e12828;
    --accent-color: #ffcb3d;
    --dark-text: #222222;
    --light-text: #222222;
    --background-grey: #f7f8f9;
    --white: #ffffff;
    --font-family: 'Oswald';
    --header-height: 90px;
}

/* --- Dark Mode Styles --- */
body.dark-mode {
    --primary-color: #ff5252;
    --dark-text: #ffffff;
    --background-grey: #121212;
    --white: #1e1e1e;
    color: #fcfcfc;
}
/* Διορθώνουμε το χρώμα των links και των τίτλων στο dark mode */
body.dark-mode a { color: #e0e0e0; }
body.dark-mode h1, body.dark-mode h2, body.dark-mode h3, body.dark-mode h4 { color: #f5f5f5; }
body.dark-mode .main-header,
body.dark-mode .footer-column .footer-logo-link { background-color: #1e1e1e; }
body.dark-mode .faq-question:hover { background-color: #2a2a2a; }