#comparison {
  margin: 0 auto;
  width: 60vw;
  height: 60vw;
  max-width: 800px;
  max-height: 600px;
  overflow: hidden; 
  border: 4px solid white;
  box-shadow: 0 5px 15px -4px rgba(0,0,0,0.5);
}

#comparison figure {
  background-image: url("/static/assets/images/slider_image1.webp");
  background-size: cover;
  position: relative;
  font-size: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}

#comparison figure #divisor {
  background-image: url("/static/assets/images/slider_image2.webp");
  background-size: cover;
  position: absolute;
  width: 50%; 
  height: 100%;
  box-shadow: 0 5px 10px -2px rgba(0,0,0,0.3);
  border-right: 4px solid white;
}

#slider {
    width: 100%;
    position: relative;
    top: -25px; 
    cursor: col-resize;
    opacity: 0.8;
}